@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}   

h1{
    font-family: 'Genos', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.p-quote{
    font-family: 'Karla', sans-serif;
}
.p-uthor{
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}
